body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thick-pink-border {
border-color: pink;
border-width: 5px;
border-style: dotted solid;
border-radius: 0;
}
.smaller-image{
	width: 200px;
}

.image-center{
	text-align: center;
}